{% extends 'loginapp/base.html' %}
{%load staticfiles%}
{%load bootstrap%}

{% block content %}
<body class="hold-transition register-page skin-blue sidebar-mini">

  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a href="{% url 'loginapp:dash1' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Admin</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->

            <!-- Notifications: style can be found in dropdown.less -->

            <!-- Tasks: style can be found in dropdown.less -->

            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">

              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                </li>
            </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->

          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">MAIN NAVIGATION</li>
          <li class="treeview">
              <li><a href="{% url 'loginapp:dash1' %}"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
          </li>
          <li>
          <a href="{% url 'loginapp:productsave' %}">
            <i class="fa fa-files-o"></i> <span>Add Products</span>
          </a>
        </li>
          <li class="active">
          <a href="{% url 'loginapp:regcoadmin' %}">
            <i class="fa fa-files-o"></i> <span>Add co-Admin</span>
          </a>
        </li>
        <li>
        <a href="{% url 'loginapp:regenggs' %}">
          <i class="fa fa-files-o"></i> <span>Add Engineers</span>
        </a>
      </li>
      <li>
      <a href="{% url 'loginapp:regcustoms' %}">
        <i class="fa fa-files-o"></i> <span>Add Customer</span>
      </a>
    </li>
    <li>
    <a href="{% url 'loginapp:enggmaps' %}">
      <i class="fa fa-files-o"></i> <span>Track Engineers</span>
    </a>
  </li>
  <li>
  <a href="{% url 'loginapp:stockentry' %}">
    <i class="fa fa-files-o"></i> <span>Stock Entry</span>
  </a>
  </li>
  <li>
  <a href="{% url 'loginapp:stocklist' %}">
    <i class="fa fa-files-o"></i> <span>Stock List</span>
  </a>
  </li>
    <li>
    <a href="{% url 'loginapp:getcoadmin' %}">
      <i class="fa fa-files-o"></i> <span>Coadmin List</span>
    </a>
  </li>
    <li>
    <a href="{% url 'loginapp:getenggs' %}">
      <i class="fa fa-files-o"></i> <span>Engineers List</span>
    </a>
  </li>
  <li>
  <a href="{% url 'loginapp:getcustomers' %}">
    <i class="fa fa-files-o"></i> <span>Customer List</span>
  </a>
  </li>

  <li>
  <a href="{% url 'loginapp:getcalllists' %}">
    <i class="fa fa-files-o"></i> <span>Call List</span>
  </a>
  </li>

  <li>
  <a href="{% url 'loginapp:callallocations' %}">
    <i class="fa fa-files-o"></i> <span>Call Allocation</span>
  </a>
  </li>
          <li>
            <a href="{% url 'loginapp:calendars' %}">
              <i class="fa fa-calendar"></i> <span>Calendar</span>
            </a>
          </li>
              </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Dashboard
          <small>Registration</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="{% url 'loginapp:dash1' %}"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Registration</li>
        </ol>
      </section>

            <div class="container">
              <div class="row">
                <div class="register-logo ">
                  <a href="{% url 'loginapp:dash1' %}"><b>co-Admin Registration</b></a>
                </div>
                <div class=" register-box-body ">
                  <p class="container text-center h4">Register a new co-Admin</p>

                  <form method="post" action="{% url 'loginapp:regcoadmin' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      {{coadminform.non_field_errors}}
                    <div class="col-md-4 text-center">
                   <!-- <b>ID *</b> -->
                   <div class="form-group has-feedback">
                     {{coadminform.co_name|bootstrap}}
                     <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
                   </div>
                 </div>
                   <div class="col-md-4 text-center">
                  <!-- <b>ID *</b> -->
                  <div class="form-group has-feedback">
                    {{coadminform.co_address|bootstrap}}
                    <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
                  </div>
                </div>
                  <div class="col-md-4 text-center">
                 <!-- <b>ID *</b> -->
                 <div class="form-group has-feedback">
                   {{coadminform.co_email|bootstrap}}
                   <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
                 </div>
               </div>
                 <div class="col-md-4 text-center">
                <!-- <b>ID *</b> -->
                <div class="form-group has-feedback">
                  {{coadminform.contact_number|bootstrap}}
                  <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
                </div>
              </div>
                <div class="col-md-4 text-center">
               <!-- <b>ID *</b> -->
               <div class="form-group has-feedback">
                 {{coadminform.tell_no|bootstrap}}
                 <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
               </div>
             </div>
               <div class="col-md-4 text-center">
              <!-- <b>ID *</b> -->
              <div class="form-group has-feedback">
                {{coadminform.co_city|bootstrap}}
                <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
              </div>
            </div>
              <div class="col-md-4 text-center">
             <!-- <b>ID *</b> -->
             <div class="form-group has-feedback">
               {{coadminform.branch_code|bootstrap}}
               <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
             </div>
           </div>
             <div class="col-md-4 text-center">
            <!-- <b>ID *</b> -->
            <div class="form-group has-feedback">
              {{coadminform.co_gender|bootstrap}}
              <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
            </div>
          </div>
            <div class="col-md-4 text-center">
           <!-- <b>ID *</b> -->
           <div class="form-group has-feedback">
             {{coadminform.co_bdate|bootstrap}}
             <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
           </div>
            </div>
            <div class="col-md-4 text-center">
           <!-- <b>ID *</b> -->
           <div class="form-group has-feedback">
             {{coadminform.co_age|bootstrap}}
             <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
           </div>
            </div>
            <div class="col-md-4 text-center">
           <!-- <b>ID *</b> -->
           <div class="form-group has-feedback">
             {{coadminform.co_joining_date|bootstrap}}
             <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
           </div>
            </div>
            <div class="col-md-4 text-center">
           <!-- <b>ID *</b> -->
           <div class="form-group has-feedback">
             {{coadminform.co_qual|bootstrap}}
             <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
           </div>
            </div>
            <div class="col-md-4 text-center">
           <!-- <b>ID *</b> -->
           <div class="form-group has-feedback">
             {{coadminform.co_designation|bootstrap}}
             <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
           </div>
            </div>
            <div class="col-md-4 text-center">
           <!-- <b>ID *</b> -->
           <div class="form-group has-feedback">
             {{coadminform.co_pass|bootstrap}}
             <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
           </div>
            </div>
            <div class="col-md-4 text-center">
           <!-- <b>ID *</b> -->
           <div class="form-group has-feedback">
             {{coadminform.co_conf_pass|bootstrap}}
             <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
           </div>
            </div>
            <div class="col-md-4 text-center">
           <!-- <b>ID *</b> -->
           <div class="form-group has-feedback">
             {{coadminform.co_status|bootstrap}}
             <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
           </div>
            </div>
          </div>


                    <div class="row">


                      <div class="col-lg-4">

                      </div>
                      <div class="col-lg-4 ">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
                      </div>
                      <!-- /.col -->
                      <div class="col-lg-12">
                      </div>
                      <!-- /.col -->
                    </div>

                  </form>

                </div>
                <!-- /.form-box -->
              </div>
            </div>
        </div>
        <!-- /.row (main row) -->

</body>
{% endblock %}
<script>
{% block jquery %}
$(function() {
  $('input[name="coadminform-co_bdate"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  }, function(start, end, label) {
    var years = moment().diff(start, 'years');
    // alert("You are " + years + " years old!");
    $('#id_coadminform-co_age').val(years);
  });

  $('input[name="coadminform-co_joining_date"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  });

  var password = {
    // Add another object to the rules array here to add rules.
    // They are executed from top to bottom, with callbacks in between if defined.
    rules: [

        //Take a combination of 12 letters and numbers, both lower and upper case.
        {
            characters: 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890',
            max: 12
        },

        //Take 4 special characters, use the callback to shuffle the resulting 16 character string
        {
            characters: '!@#$%^&*()_+|~-={}[]:";<>?,./',
            max: 4,
            callback: function (s) {
                var a = s.split(""),
                    n = a.length;

                for (var i = n - 1; i > 0; i--) {
                    var j = Math.floor(Math.random() * (i + 1));
                    var tmp = a[i];
                    a[i] = a[j];
                    a[j] = tmp;
                }
                return a.join("");
            }
        }
    ],
    generate: function () {
        var g = '';

        $.each(password.rules, function (k, v) {
            var m = v.max;
            for (var i = 1; i <= m; i++) {
                g = g + v.characters[Math.floor(Math.random() * (v.characters.length))];
            }
            if (v.callback) {
                g = v.callback(g);
            }
        });
        return g;
    }
}
var pswd = password.generate();
$('#id_coadminform-co_pass').val(pswd);
$('#id_coadminform-co_conf_pass').val(pswd);
});
  {% endblock %}
</script>
