{% extends 'loginapp/base.html' %}
{%load staticfiles%}
{% load bootstrap %}
{% block content %}
  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Admin</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">MAIN NAVIGATION</li>
          <li class="treeview">
            <a href="{% url 'loginapp:dash1' %}"><i class="fa fa-circle-o"></i> Dashboard v1</a>
          </li>
          <li>
          <a href="{% url 'loginapp:productsave' %}">
            <i class="fa fa-files-o"></i> <span>Add Products</span>
          </a>
        </li>
          <li>
          <a href="{% url 'loginapp:regcoadmin' %}">
            <i class="fa fa-files-o"></i> <span>Add co-Admin</span>
          </a>
        </li>
          <li>
            <a href="{% url 'loginapp:regenggs' %}">
            <i class="fa fa-files-o"></i> <span>Add Engineer</span>

          </a>
          </li>
          <li class="active">
            <a href="{% url 'loginapp:regcustoms' %}">
          <i class="fa fa-files-o"></i> <span>Add Customer</span>
        </a>
          </li>
          <li>
          <a href="{% url 'loginapp:enggmaps' %}">
            <i class="fa fa-files-o"></i> <span>Track Engineers</span>
          </a>
        </li>
        <li>
        <a href="{% url 'loginapp:stockentry' %}">
          <i class="fa fa-files-o"></i> <span>Stock Entry</span>
        </a>
        </li>
        <li>
        <a href="{% url 'loginapp:stocklist' %}">
          <i class="fa fa-files-o"></i> <span>Stock List</span>
        </a>
        </li>
          <li>
          <a href="{% url 'loginapp:getcoadmin' %}">
            <i class="fa fa-files-o"></i> <span>Coadmin List</span>
          </a>
        </li>
          <li>
          <a href="{% url 'loginapp:getenggs' %}">
            <i class="fa fa-files-o"></i> <span>Engineers List</span>
          </a>
        </li>
        <li>
        <a href="{% url 'loginapp:getcustomers' %}">
          <i class="fa fa-files-o"></i> <span>Customer List</span>
        </a>
        </li>

        <li>
        <a href="{% url 'loginapp:getcalllists' %}">
          <i class="fa fa-files-o"></i> <span>Call List</span>
        </a>
        </li>

        <li>
        <a href="{% url 'loginapp:callallocations' %}">
          <i class="fa fa-files-o"></i> <span>Call Allocation</span>
        </a>
        </li>

          <li>
            <a href="{% url 'loginapp:calendars' %}">
              <i class="fa fa-calendar"></i> <span>Calendar</span>
              </a>
          </li>
          </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Dashboard
          <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </section>


        <div class="row ">
          <!-- Left col -->
          <section class="col-lg-12 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->

            <div class="container-fluid">
              <div class="row">
                <div class="register-logo ">
                  <a href="{% url 'loginapp:dash1' %}"><b>Admin Customer Registration</b></a>
                </div>
                <div class=" register-box-body ">
                  <p class="login-box-msg">Register a new Customer</p>

                  <form method="post" action="{% url 'loginapp:regcustoms' %}">
                    {% csrf_token %}


                        <div class="row">
                       <div class="col-sm-4 text-center">
                      <!-- <b>Full name *</b> -->
                      <div class="form-group has-feedback">
                        {{customform.customer_name|bootstrap}}
                          <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <!-- <b>Email Id *</b> -->
                      <div class="form-group has-feedback">
                        {{customform.customer_email|bootstrap}}
                        <!-- <span class="glyphicon glyphicon-envelope form-control-feedback"></span> -->
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <!-- <b>Contact No *</b> -->
                      <div class="form-group has-feedback">
                        {{customform.customer_contact_no|bootstrap}}
                          <!-- <span class="glyphicon glyphicon-phone form-control-feedback"></span> -->
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <!-- <b>Fax No</b> -->
                      <div class="form-group has-feedback">
                        {{customform.cutomer_fax|bootstrap}}
                        <!-- <span class="glyphicon glyphicon-phone-alt form-control-feedback"></span> -->
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <!-- <b>City *</b> -->
                      <div class="form-group has-feedback">
                        {{customform.customer_city|bootstrap}}
                        <!-- <span class="glyphicon glyphicon-map-marker form-control-feedback"></span> -->
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <!-- <b>Address *</b> -->
                      <div class="form-group has-feedback">
                        {{customform.customer_adrress|bootstrap}}
                        <!-- <span class="glyphicon glyphicon-map-marker form-control-feedback"></span> -->
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <!-- <b>Company Type *</b> -->
                      <div class="form-group has-feedback">
                        {{customform.customer_company_type|bootstrap}}
                          <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <!-- <b>Customer Agreement From * :</b> -->
                      <div class="form-group has-feedback">
                        {{customform.customer_agreement_from|bootstrap}}
                        <!-- <span class="glyphicon glyphicon-certificate form-control-feedback"></span> -->
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <!-- <b>Customer Agreement To * :</b> -->
                      <div class="form-group has-feedback">
                        {{customform.customer_agreement_to|bootstrap}}
                        <!-- <span class="glyphicon glyphicon-certificate form-control-feedback"></span> -->
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <!-- <b>GSTIN *</b> -->
                      <div class="form-group has-feedback">
                        {{customform.customer_GSTIN_no|bootstrap}}
                        <!-- <span class="glyphicon glyphicon-number form-control-feedback"></span> -->
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <!-- <b>Pincode *</b> -->
                      <div class="form-group has-feedback">
                        {{customform.customer_pincode|bootstrap}}
                        <!-- <span class="glyphicon glyphicon-map-marker form-control-feedback"></span> -->
                      </div>
                    </div>
                     <div class="col-sm-4 text-center">
                      <!-- <b>Customer Agreement Amount *</b> -->
                      <div class="form-group has-feedback">
                        {{customform.customer_agreement_amount|bootstrap}}
                        <!-- <span class="glyphicon glyphicon-number form-control-feedback"></span> -->
                      </div>
                    </div>
                    <div class="col-sm-4 text-center">
                      <!-- <b>Customer Product *</b> -->
                      <div class="form-group has-feedback">
                        {{customform.customer_product|bootstrap}}
                        <!-- <span class="glyphicon glyphicon-picture form-control-feedback"></span> -->
                      </div>
                    </div>
                    </div>
                    <div class="row">

                      <div class="col-sm-4">

                      </div>
                      <div class="col-sm-4 ">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                      </div>
                      <!-- /.col -->

                      <!-- /.col -->
                    </div>

                  </form>
                </div>
                {% if user_form.errors %}
              {% for field in user_form %}
              {% for error in field.errors %}
              <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              {% endfor %}
              {% for error in user_form.non_field_errors %}
              <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              {% endif %}

                  {% if customform.errors %}
                {% for field in customform %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in customform.non_field_errors %}
                <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}

                </div>
                <!-- /.form-box -->
              </div>
            </div>
            <!-- /.register-box -->



          <!-- </section> -->
          <!-- /.Left col -->

        </div>
        <!-- /.row (main row) -->

      <!-- </section> -->
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}


<script>
{% block jquery %}
$(function() {
  $('input[name="customform-customer_agreement_from"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  }, function(start, end, label) {
    var years = moment().diff(start, 'years');
    // alert("You are " + years + " years old!");
  });

  $('input[name="customform-customer_agreement_to"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  }, function(start, end, label) {
    var years = moment().diff(start, 'years');
    // alert("You are " + years + " years old!");
  });
});
{% endblock %}
</script>
