<html>
<body>
  <table border="1">
    <tr>
      <th>Complaint no.</th>
      <td>{{complid}}</td>
    </tr>
    <tr>
      <th>Customer Name</th>
      <td>{{custname}}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>{{addr}}</td>
    </tr>
    <tr>
      <th>Engineer name</th>
      <td>{{ename}}</td>
    </tr>
       <th>Engineer Contact number</th>
       <td>{{econt}}</td>
       <tr>
      <th>Product</th>
      <td>{{prod}}</td>
    </tr>
    <tr>
      <th>Complaint</th>
      <td>{{prob}}</td>
    </tr>
    <tr>
       <th>Call Note</th>
       <td>{{note}}</td>
     </tr>
     <tr>
       <th>Call By</th>
       <td>{{calnme}}</td>
     </tr>
     <tr>
       <th>call status</th>
       <td>{{stat}}</td>
    </tr>

  </table>

</body>
</html>
