{% extends 'loginapp/base.html' %}
{%load staticfiles%}

{% block content %}
<body class="hold-transition register-page skin-blue sidebar-mini">

  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Admin</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>


      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">MAIN NAVIGATION</li>
          <li class="treeview">
            <li><a href="{% url 'loginapp:dash1' %}"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
          </li>
          <li>
          <a href="{% url 'loginapp:productsave' %}">
            <i class="fa fa-files-o"></i> <span>Add Products</span>
          </a>
        </li>
          <li>
          <a href="{% url 'loginapp:regcoadmin' %}">
            <i class="fa fa-files-o"></i> <span>Add co-Admin</span>
          </a>
        </li>
        <li>
        <a href="{% url 'loginapp:regenggs' %}">
          <i class="fa fa-files-o"></i> <span>Add Engg</span>
        </a>
      </li>
      <li>
      <a href="{% url 'loginapp:regcustoms' %}">
        <i class="fa fa-files-o"></i> <span>Add Customer</span>
      </a>
    </li>
    <li>
    <a href="{% url 'loginapp:enggmaps' %}">
      <i class="fa fa-files-o"></i> <span>Track Engineers</span>
    </a>
  </li>
  <li>
  <a href="{% url 'loginapp:stockentry' %}">
    <i class="fa fa-files-o"></i> <span>Stock Entry</span>
  </a>
  </li>
  <li>
  <a href="{% url 'loginapp:stocklist' %}">
    <i class="fa fa-files-o"></i> <span>Stock List</span>
  </a>
  </li>
  <li>
  <a href="{% url 'loginapp:getcoadmin' %}">
    <i class="fa fa-files-o"></i> <span>Coadmin List</span>
  </a>
</li>
    <li class="active">
    <a href="{% url 'loginapp:getenggs' %}">
      <i class="fa fa-files-o"></i> <span>Engineers List</span>
    </a>
  </li>
  <li>
  <a href="{% url 'loginapp:getcustomers' %}">
    <i class="fa fa-files-o"></i> <span>Customer List</span>
  </a>
  </li>

  <li>
  <a href="{% url 'loginapp:getcalllists' %}">
    <i class="fa fa-files-o"></i> <span>Call List</span>
  </a>
  </li>

  <li>
  <a href="{% url 'loginapp:callallocations' %}">
    <i class="fa fa-files-o"></i> <span>Call Allocation</span>
  </a>
  </li>


          <li>
            <a href="{% url 'loginapp:calendars' %}">
              <i class="fa fa-calendar"></i> <span>Calendar</span>
            </a>
          </li>
          </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Dashboard
          <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </section>

            <div class="container">
              <div class="register-logo ">
                <a href="#"><b>Engineers Details</b></a>
              </div>
              <div class="row">
                     <div class="col-xs-12">
                       <div class="box">
                         <div class="box-header">
                           <h3 class="box-title">Engineers Details</h3>

                           <div class="box-tools">
                             <div class="input-group input-group-sm" style="width: 150px;">
                               <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                               <div class="input-group-btn">
                                 <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                               </div>
                             </div>
                           </div>
                         </div>
                         <!-- /.box-header -->
                         <div class="box-body table-responsive no-padding">

                           <table class="table table-hover">
                             <tr>
                               <th>ID</th>
                               <th>PIC</th>
                               <th>User</th>
                               <th>Contact</th>
                               <th>City</th>
                               <th>Address</th>
                             </tr>
                             <tr>
                               <td>{{engg.engg_id}}</td>
                               <td><img src="{{engg.engg_pic.url}}" width="auto"  height="100px"></td>
                               <td>{{engg.engg_name}}</td>
                               <td>{{engg.engg_contact_number}}</td>
                                <td>{{engg.engg_city}}</td>
                               <td>{{engg.engg_address}}</td>

                             </tr>

                           </table>

                         </div>
                         <!-- /.box-body -->
                       </div>
                       <!-- /.box -->
                     </div>
                   </div>

      </section>
      <!-- /.content -->
    </div>
  </div>
    <!-- /.content-wrapper -->

</body>
{% endblock %}
