
{% extends 'loginapp/base.html' %}
{% load static %}
<script>
{%block jquery%}
var endpoint = 'api/chartdata/'

$.ajax({
  method:"GET",
  url:endpoint,
  success:function(data){
    console.log(data)
    var calls = [];
  calls = [data.opencall,data.pendingcall,data.closedcall];
  console.log(calls);
  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['open', 'pending', 'closed'],
          datasets: [{
              label: '# of calls',
              data: calls,//[10, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',

              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',

              ],
              borderWidth: 1
          }],
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });

  },
  error:function(error_data){
    console.log("error")
    console.log(error_data)

  },

});


{%endblock%}
</script>

{%block content%}

<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>Admin</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->

          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">{{call}}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have {{call}} notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> {{open}} new calls opened
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> {{pending}} calls are pending
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i>{{closed}} calls have been closed
                    </a>
                  </li>
                </ul>
              </li>

            </ul>
          </li>

          <!-- Tasks: style can be found in dropdown.less -->

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{% static 'loginapp/dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ request.user.username }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{% static 'loginapp/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">

              </li>

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <a href="{% url 'loginapp:logout' %}" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">


      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <ul class="treeview-menu">
            <li><a href="{% url 'loginapp:dash1' %}"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
          </ul>
        </li>
        <li>
        <a href="{% url 'loginapp:productsave' %}">
          <i class="fa fa-files-o"></i> <span>Add Products</span>
        </a>
        </li>
        <li>
        <a href="{% url 'loginapp:regcoadmin' %}">
          <i class="fa fa-files-o"></i> <span>Add co-Admin</span>
        </a>
      </li>
      <li>
      <a href="{% url 'loginapp:regenggs' %}">
        <i class="fa fa-files-o"></i> <span>Add Engg</span>
      </a>
    </li>
    <li>
    <a href="{% url 'loginapp:regcustoms' %}">
      <i class="fa fa-files-o"></i> <span>Add Customer</span>
    </a>
  </li>
  <li>
  <a href="{% url 'loginapp:enggmaps' %}">
    <i class="fa fa-files-o"></i> <span>Track Engineers</span>
  </a>
</li>
<li>
<a href="{% url 'loginapp:stockentry' %}">
  <i class="fa fa-files-o"></i> <span>Stock Entry</span>
</a>
</li>
<li>
<a href="{% url 'loginapp:stocklist' %}">
  <i class="fa fa-files-o"></i> <span>Stock List</span>
</a>
</li>
  <li>
  <a href="{% url 'loginapp:getcoadmin' %}">
    <i class="fa fa-files-o"></i> <span>Coadmin List</span>
  </a>
</li>
  <li>
  <a href="{% url 'loginapp:getenggs' %}">
    <i class="fa fa-files-o"></i> <span>Engineers List</span>
  </a>
</li>
<li>
<a href="{% url 'loginapp:getcustomers' %}">
  <i class="fa fa-files-o"></i> <span>Customer List</span>
</a>
</li>

<li>
<a href="{% url 'loginapp:getcalllists' %}">
  <i class="fa fa-files-o"></i> <span>Call List</span>
</a>
</li>

<li>
<a href="{% url 'loginapp:callallocations' %}">
  <i class="fa fa-files-o"></i> <span>Call Allocation</span>
</a>
</li>
        <li>
          <a href="{% url 'loginapp:calendars' %}">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
          </a>
        </li>
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{call}}</h3>

              <p>Call List</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="{% url 'loginapp:getcalllists' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">

              <h3>{{eng}}</h3>

              <p>Engineers Location</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="{% url 'loginapp:enggmaps' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{custom}}</h3>

              <p>Client Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="{%url 'loginapp:regcustoms'%}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{call}}</h3>

              <p>New Call Allocation</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="{% url 'loginapp:callallocations' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <canvas id="myChart" width="200" height="200"></canvas>

          </div>

          <!-- quick email widget -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-envelope"></i>

              <h3 class="box-title">Quick Email</h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                        title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
              <!-- /. tools -->
            </div>
            <div class="box-body">
              <form action="{% url 'loginapp:qmail' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <input type="email" class="form-control" name="emailto" placeholder="Email to:" required="true">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="true">
                </div>
                <div>
                  <textarea class="form-group" name="msg" placeholder="Message" required="true"
                            style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </div>
                <div class="box-footer clearfix">
                  <button type="submit" class="pull-right btn btn-default" id="sendEmail">Send
                    <i class="fa fa-arrow-circle-right"></i></button>
                </div>
              </form>
            </div>

          </div>

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">

          <!-- Map box -->
          <div class="box box-solid bg-light-blue-gradient text-black" >
            <div class="box-header">
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                        data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                  <i class="fa fa-minus"></i></button>
              </div>
              <!-- /. tools -->

              <i class="fa fa-map-marker"></i>

              <h3 class="box-title">
                Branches
              </h3>
            </div>
            <div class="box-body">
              <div id="map" style="height: 250px; width: 100%;"></div>
              <!-- map script> -->
              <script>

  function initMap(){
   var options = {
     zoom:6,
     center:{lat:19.7515,lng:75.7139}
   }
   //new Map
   var map = new google.maps.Map(document.getElementById('map'),options);

    var markers = [{
      coords:{lat:18.5204,lng:73.8567},
      content:'<p>Pune</p>'
    },
    {
      coords:{lat:18.6298,lng:73.7997},
      content:'<p>Pimpri Chinchwad</p>'
    },
    {
      coords:{lat:19.0952,lng:74.7496},
      content:'<p>Ahmednager</p>'
    },
    {
      coords:{lat:16.7050,lng:74.2433},
      content:'<p>Kolhapur</p>'
    },
    {
      coords:{lat:16.8524,lng:74.5815},
      content:'<p>Sangli</p>'
    },
    {
      coords:{lat:17.2478,lng:73.3709},
      content:'<p>Ratnagiri</p>'
    },
    {
      coords:{lat:16.3492,lng:73.5594},
      content:'<p>Sindhudurg</p>'
    },
    {
      coords:{lat:15.2993,lng:74.1240},
      content:'<p>Goa</p>'
    },
    {
      coords:{lat:19.0760,lng:72.8777},
      content:'<p>Mumbai</p>'
    },
    {
      coords:{lat:18.5158,lng:73.1822},
      content:'<p>Raiged</p>'
    },
    {
      coords:{lat:19.8762,lng:75.3433},
      content:'<p>Aurangabad</p>'
    },
    {
      coords:{lat:19.9975,lng:73.7898},
      content:'<p>Nashik</p>'
    },
    {
      coords:{lat:21.0077,lng:75.5626},
      content:'<p>Jalgaon</p>'
    }
    ,{
      coords:{lat:20.4561,lng:76.3637},
      content:'<p>Buldhana</p>'
    },
    {
      coords:{lat:21.1458,lng:79.0882},
      content:'<p>Nagpur</p>'
    },
    {
      coords:{lat:17.6599,lng:75.9064},
      content:'<p>Solapur</p>'
    },
    {
      coords:{lat:19.1383,lng:77.3210},
      content:'<p>Nanded</p>'
    },
    {
      coords:{lat:18.4088,lng:76.5604},
      content:'<p>Latur</p>'
    },
  ];

for (var i = 0 ;i < markers.length ;i++){
  addMarker(markers[i]);
}
  //add marker


   function addMarker(props){
     var marker = new google.maps.Marker({
       position:props.coords,
       map:map,
       //icon:props.iconImage
     });


    if(props.content){
      var infoWindow = new google.maps.InfoWindow({
        content:props.content
      });

      marker.addListener('click',function(){
        infoWindow.open(map,marker);
      });
    }
   }
  }


</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKi-pc0FZh74Ub5mSQCSfK0-lA-pvaA44&callback=initMap">
</script>
            </div>
            <!-- /.box-body-->

          </div>
          <!-- /.box -->

          <!-- solid sales graph -->

          <!-- /.box -->

          <!-- Calendar -->
          <div class="box box-solid bg-green-gradient">
            <div class="box-header">
              <i class="fa fa-calendar"></i>

              <h3 class="box-title">Calendar</h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <!-- button with a dropdown -->
                <div class="btn-group">
                  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bars"></i></button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="{%url 'loginapp:callallocations'%}">Add new call</a></li>
                    <li class="divider"></li>
                    <li><a href="{%url 'loginapp:calendars'%}">View calendar</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <!--The calendar -->
              <div id="calendar" style="width: 100%"></div>
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->

        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{%endblock content%}
