{% extends 'loginapp/base.html' %}
{%load staticfiles%}
{%load bootstrap%}

{% block content %}
<body class="hold-transition register-page skin-blue sidebar-mini">

  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a href="{% url 'loginapp:dash1' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Admin</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">MAIN NAVIGATION</li>
          <li class="treeview">
            <li><a href="{% url 'loginapp:dash1' %}"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
          </li>
          <li>
          <a href="{% url 'loginapp:productsave' %}">
            <i class="fa fa-files-o"></i> <span>Add Products</span>
          </a>
          </li>
          <li>
          <a href="{% url 'loginapp:regcoadmin' %}">
            <i class="fa fa-files-o"></i> <span>Add co-Admin</span>
          </a>
        </li>
          <li class="active">
            <a href="{% url 'loginapp:regenggs' %}">
            <i class="fa fa-files-o"></i> <span>Add Engineer</span>

          </a>
          </li>
          <li>
          <a href="{% url 'loginapp:regcustoms' %}">
            <i class="fa fa-files-o"></i> <span>Add Customer</span>
          </a>
        </li>
      <li>
      <a href="{% url 'loginapp:enggmaps' %}">
        <i class="fa fa-files-o"></i> <span>Track Engineers</span>
      </a>
    </li>
    <li>
    <a href="{% url 'loginapp:stockentry' %}">
      <i class="fa fa-files-o"></i> <span>Stock Entry</span>
    </a>
    </li>
    <li>
    <a href="{% url 'loginapp:stocklist' %}">
      <i class="fa fa-files-o"></i> <span>Stock List</span>
    </a>
    </li>
      <li>
      <a href="{% url 'loginapp:getcoadmin' %}">
        <i class="fa fa-files-o"></i> <span>Coadmin List</span>
      </a>
    </li>
        <li>
        <a href="{% url 'loginapp:getenggs' %}">
          <i class="fa fa-files-o"></i> <span>Engineers List</span>
        </a>
      </li>


          <li>
          <a href="{% url 'loginapp:getcustomers' %}">
            <i class="fa fa-files-o"></i> <span>Customer List</span>
          </a>
          </li>

          <li>
          <a href="{% url 'loginapp:getcalllists' %}">
            <i class="fa fa-files-o"></i> <span>Call List</span>
          </a>
          </li>

          <li>
          <a href="{% url 'loginapp:callallocations' %}">
            <i class="fa fa-files-o"></i> <span>Call Allocation</span>
          </a>
          </li>
          <li>
            <a href="{% url 'loginapp:calendars' %}">
              <i class="fa fa-calendar"></i> <span>Calendar</span>
            </a>
          </li>
        </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Dashboard
          <small>Engg Registration</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="{% url 'loginapp:dash1' %}"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Engg Registration</li>
        </ol>
      </section>

      <!-- Main content -->

        <div class="row ">
          <!-- Left col -->
          <section class="col-lg-12 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->

            <div class="container-fluid">
              <div class="row">
                <div class="register-logo ">
                  <a href="{% url 'loginapp:dash1' %}"><b>Admin Engg Registration</b></a>
                </div>

                <div class=" register-box-body ">
                  <p class="login-box-msg">Register a new Engg</p>

                  <form method="post" action="{% url 'loginapp:regenggs' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="row">
                      <div class="col-md-4 text-center">
                     <!-- <b>ID *</b> -->
                     <div class="form-group has-feedback">
                       {{enggform.engg_id|bootstrap}}
                       <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
                     </div>
                    </div>
                    <div class="col-md-4 text-center">
                   <!-- <b>Photo *</b> -->
                   <div class="form-group has-feedback">
                     {{enggform.engg_pic|bootstrap}}
                     <!-- <span class="glyphicon glyphicon-camera form-control-feedback"></span> -->
                   </div>
                  </div>
                  <div class="col-md-4 text-center">
                 <!-- <b>Full name *</b> -->
                 <div class="form-group has-feedback">
                   {{enggform.engg_name|bootstrap}}
                   <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
                 </div>
                </div>
                <div class="col-lg-6 text-center">
               <!-- <b>Address *</b> -->
               <div class="form-group">
                 {{enggform.engg_address|bootstrap}}
                 <!-- <span class="glyphicon glyphicon-home form-control-feedback"></span> -->
               </div>
              </div>
              <div class="col-lg-6 text-center">
             <!-- <b>Permanent Address *</b> -->
             <div class="form-group">
               {{enggform.engg_permanent_address|bootstrap}}
               <!-- <span class="glyphicon glyphicon-home form-control-feedback"></span> -->
             </div>
            </div>
            <div class="col-md-4 text-center">
           <!-- <b>Emai-Id *</b> -->
           <div class="form-group has-feedback">
             {{enggform.engg_email|bootstrap}}
             <!-- <span class="glyphicon glyphicon-envelope form-control-feedback"></span> -->
           </div>
          </div>
          <div class="col-md-4 text-center">
         <!-- <b>Contact Number *</b> -->
         <div class="form-group has-feedback">
           {{enggform.engg_contact_number|bootstrap}}
           <!-- <span class="glyphicon glyphicon-phone form-control-feedback"></span> -->
         </div>
        </div>
        <div class="col-md-4 text-center">
       <!-- <b>Telephone </b> -->
       <div class="form-group has-feedback">
         {{enggform.engg_tell_no|bootstrap}}
         <!-- <span class="glyphicon glyphicon-phone-alt form-control-feedback"></span> -->
       </div>
      </div>
      <div class="col-md-4 text-center">
     <!-- <b>City *</b> -->
     <div class="form-group has-feedback">
       {{enggform.engg_city|bootstrap}}
       <!-- <span class="glyphicon glyphicon-map-marker form-control-feedback"></span> -->
     </div>
    </div>
    <div class="col-md-4 text-center">
   <!-- <b>Branch Code *</b> -->
   <div class="form-group has-feedback">
     {{enggform.engg_branch_code|bootstrap}}
     <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
   </div>
  </div>
  <div class="col-md-4 text-center">
 <!-- <b>Gender *</b> -->
 <div class="form-group has-feedback">
   {{enggform.engg_gender|bootstrap}}
   <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
 </div>
</div>
<div class="col-md-4 text-center">
<!-- <b>Birth Date *</b> -->
<div class="form-group has-feedback">
 {{enggform.engg_bdate|bootstrap}}
 <!-- <span class="glyphicon glyphicon-calendar form-control-feedback"></span> -->
</div>
</div>
<div class="col-md-4 text-center">
<!-- <b>Age *</b> -->
<div class="form-group has-feedback">
 {{enggform.engg_age|bootstrap}}
 <!-- <span class="glyphicon glyphicon-calendar form-control-feedback"></span> -->
</div>
</div>
<div class="col-md-4 text-center">
<!-- <b>Joining Date *</b> -->
<div class="form-group has-feedback">
 {{enggform.engg_joining_date|bootstrap}}
 <!-- <span class="glyphicon glyphicon-calendar form-control-feedback"></span> -->
</div>
</div>
<div class="col-md-4 text-center">
<!-- <b>Qualification *</b> -->
<div class="form-group has-feedback">
 {{enggform.engg_qual|bootstrap}}
 <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
</div>
</div>
<div class="col-md-4 text-center">
<!-- <b>Designation *</b> -->
<div class="form-group has-feedback">
 {{enggform.engg_designation|bootstrap}}
 <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
</div>
</div>
<div class="col-md-4 text-center">
<!-- <b>Skill *</b> -->
<div class="form-group has-feedback">
 {{enggform.engg_skill|bootstrap}}
 <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
</div>
</div>
<div class="col-md-4 text-center">
<!-- <b>Password *</b> -->
<div class="form-group has-feedback">
 {{enggform.engg_pass|bootstrap}}
 <!-- <span class="glyphicon glyphicon-eye-open form-control-feedback"></span> -->
</div>
</div>
<div class="col-md-4 text-center">
<!-- <b>Confirm Password *</b> -->
<div class="form-group has-feedback">
 {{enggform.engg_conf_pass|bootstrap}}
 <!-- <span class="glyphicon glyphicon-eye-open form-control-feedback"></span> -->
</div>
</div>
<div class="col-md-4 text-center">
<!-- <b>Status *</b> -->
<div class="form-group has-feedback">
 {{enggform.engg_status|bootstrap}}
 <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
</div>
</div>
                    </div>
                    {% if enggform.errors %}
                  {% for field in enggform %}
                  {% for error in field.errors %}
                  <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                  </div>
                  {% endfor %}
                  {% endfor %}
                  {% for error in enggform.non_field_errors %}
                  <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                  </div>
                  {% endfor %}
                  {% endif %}


                    <div class="row">



                      <div class="col-sm-4">

                      </div>
                      <div class="col-sm-4 ">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                      </div>
                      <!-- /.col -->

                      <!-- /.col -->
                    </div>

                  </form>


                </div>
                <!-- /.form-box -->
              </div>
            </div>
            <!-- /.register-box -->



          </section>
          <!-- /.Left col -->

        </div>
        <!-- /.row (main row) -->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</body>
{% endblock %}
<script>
{% block jquery%}
$(function() {
  $('input[name="enggform-engg_bdate"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  }, function(start, end, label) {
    var years = moment().diff(start, 'years');
    // alert("You are " + years + " years old!");
      $('#id_enggform-engg_age').val(years);
  });

var password = {
    // Add another object to the rules array here to add rules.
    // They are executed from top to bottom, with callbacks in between if defined.
    rules: [

        //Take a combination of 12 letters and numbers, both lower and upper case.
        {
            characters: 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890',
            max: 12
        },

        //Take 4 special characters, use the callback to shuffle the resulting 16 character string
        {
            characters: '!@#$%^&*()_+|~-={}[]:";<>?,./',
            max: 4,
            callback: function (s) {
                var a = s.split(""),
                    n = a.length;

                for (var i = n - 1; i > 0; i--) {
                    var j = Math.floor(Math.random() * (i + 1));
                    var tmp = a[i];
                    a[i] = a[j];
                    a[j] = tmp;
                }
                return a.join("");
            }
        }
    ],
    generate: function () {
        var g = '';

        $.each(password.rules, function (k, v) {
            var m = v.max;
            for (var i = 1; i <= m; i++) {
                g = g + v.characters[Math.floor(Math.random() * (v.characters.length))];
            }
            if (v.callback) {
                g = v.callback(g);
            }
        });
        return g;
    }
}
  var pswd = password.generate();
  $('#id_enggform-engg_pass').val(pswd);
  $('#id_enggform-engg_conf_pass').val(pswd);
});


{% endblock %}
</script>
